.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,100px);
    grid-template-rows: 60px 80px 100px;
/* grid-gap: 10px; */
/* column-gap: 10px; */
/* row-gap: 10px; */
grid-template-areas: 
"header header header"
"content content side-bar"
"footer footer footer";

}

.grid-container div{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: #ffffff;
    background-color: green;
    border: 2px solid red;
}

.item1{
    grid-area: header;

}

.item2{
    grid-area: content;

}

.item3{
    grid-area: side-bar;
}