/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/*Navigation Bar Logo and image */
#logo {
    margin: 1px 8px;
}

#logo img {
    height: 90px;
    width: 90px;
    margin: 0px 10px;
}

/* Navigation Bar List Styling  */
#navbar ul {
    display: flex;
    font-family: 'Mukta', sans-serif;
}

#navbar::before {
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: " ";
    background: url('/images/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 85%;
    width: 100%;
    z-index: -1;
    opacity: 0.49;
}

#home h1 {
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#home .btn:hover {
    background-color: brown;
}

#home p {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn {
    margin: 17px;
    font-size: 1.5rem;
    padding: 6px 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* Services section */
#services {
    margin: 0px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 8px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(233, 196, 196);
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Baloo Bhai 2', cursive;
}

/* Clients section */
#client-section {
    height: 345px;
    position: relative;
}

#client-section::before {
    content: " ";
    position: absolute;
    background: url('/images/bg2.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 35px;
}

#clients img {
    height: 125px;
}

/* Contact Section  */
#contact {
    position: relative;
}

#contact::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/images/cont1.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#contact .btn {
    font-size: 1.5rem;
    padding: 6px 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    display: block;
}

#contact .btn:hover {
    background-color: brown;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.1rem;
    padding: 12px;
}

.center {
    text-align: center;
}

#contact h1 {
    font-size: 3rem;
    font-family: 'Baloo Bhai 2', cursive;
}