body
    {
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px;
        padding: 0px;
        background: url("/images/fitness.jpg");
    }
    
.left {
    display: inline;
    position: absolute;
    left: 20px;
    padding: 0px 10px;
}

.left img {
    width: 120px;
    height: 100px;
}

.left div {
    text-align: left;
    font-size: 17px;
    color: white;
}

.mid {
    display: block;
    width: 800px;
    margin: 15px auto;
}

.right {
    display: inline;
    position: absolute;
    right: 50px;
    top: 30px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 5px 14px;
}

.navbar li a:hover
{
    text-decoration: underline;
    color: brown;
}
.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 5px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(148, 16, 16);
}
.contenar {
    border: 4px solid white;
    width: 50%;
    margin: 75px 2px;
    padding: 20px 20px;
    border-radius: 15px;
}
.form.group input{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 290px;
    padding: 10px;
    border: 2px solid black;
    margin: 11px auto;
    border-radius: 10px;
}
.contenar h1{
    text-align: center;
}
.contenar button{
    display: block;
    width: 200px;
    margin:15px auto;
}

