* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: #fe6f9b;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}
img {
    max-width: 100%;
    border: 2px solid red;

}
.tall {
    grid-row: span 2;

}
.wide {
    grid-column: span 2;

}